.li_Item {
  border: 2px solid black;
  background-color: rgb(132, 0, 255);
  color: black;
  width: 20%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  box-sizing: border-box;
}
.li__titulo{
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 2%;
    width: 60%;
    border-radius: 15px;
    text-align: center;
}
.li__description{
    background-color: white;
    padding: 2%;
    width: 40%;
    border-radius: 15px;
}
.li_Item img {
  width:200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
}
