.div__IDC {
  background-image: linear-gradient(blue 30%, rgb(115, 0, 255));
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
}

.IDC__info {
  width: 50%;
  border-radius: 15px;
  margin: 2%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div__IDC img {
  width: 500px;
  height: 500px;
  margin: 2%;
  border-radius: 15px;
}
.terminarCompra{
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  padding: 1%;
  margin: 3%;
  background-color: rgb(132, 0, 255);
  border-radius: 15px;

}