// ItemListContainer
.div__ILC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
  background-image: linear-gradient(rgb(115, 0, 255) 30%, blue);

  // ItemList
  ul {
    width: 100%;
    padding: 0;
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // Item
    li {
      border: 2px solid rgb(132, 0, 255);
      background-color: black;
      color: black;
      width: 20%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 25px;
      box-sizing: border-box;
      padding: 1%;
      h3 {
        font-size: 20px;
        background-color: white;
        color: black;
        padding: 2%;
        width: 60%;
        border-radius: 15px;
        text-align: center;
        font-size: 1.5rem;
      }

      p{
        background-color: rgba(255, 255, 255, 0.425);
        padding: 2%;
        width: 40%;
        border-radius: 15px;
        color: white;
        font-size: 1.2rem;
      }
      img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px black;
      }

      a {
        background-color: rgb(119, 0, 255);
        color: white;
        padding: 2%;
        width: 40%;
        border-radius: 15px;
      }
    }
  }
}
