#footer {
  height: 30vh;
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  /* z-index: -1; */
}

#footer .footer__lista {
  display: flex;
  flex-direction: row;
  padding: 0em;
  justify-content: center;
}
#footer .footer__lista li {
  margin: 10px;
  font-size: 40px;
  transition: transform 1s;
}
@media screen and (max-width: 768px) {
  #footer .footer__lista li {
    font-size: 35px;
  }
}
@media screen and (max-width: 430px) {
  #footer .footer__lista li {
    font-size: 33px;
  }
}
@media screen and (max-width: 360px) {
  #footer .footer__lista li {
    font-size: 29px;
  }
}
@media screen and (max-width: 330px) {
  #footer .footer__lista li {
    font-size: 27px;
  }
}
@media screen and (max-width: 270px) {
  #footer .footer__lista li {
    font-size: 25px;
  }
}
@media screen and (max-width: 250px) {
  #footer .footer__lista li {
    font-size: 23px;
  }
}
@media screen and (max-width: 220px) {
  #footer .footer__lista li {
    font-size: 21px;
  }
}
@media screen and (max-width: 203px) {
  #footer .footer__lista li {
    font-size: 19px;
  }
}
#footer .footer__lista li:hover {
  transform: rotateZ(360deg);
  cursor: pointer;
}

.fa-linkedin {
  color: #0015ff;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-instagram {
  color: #a7af34;
}
.fa-whatsapp {
  color: #25d366;
}

/* copy */
#footer .footer__copy {
  width: 98vw;
  padding: 10px 0px 60px 0px;
  font-size: 20px;
  display: block;
  text-align: center;
  transition: 350ms;
}
#footer .footer__copy a {
  color: white;
  text-decoration: none;
}
#footer .footer__copy:hover {
  transform: scale(1.1, 1.1);
}
@media screen and (max-width: 430px) {
  #footer .footer__copy {
    font-size: 15px;
  }
}
@media screen and (max-width: 360px) {
  #footer .footer__copy {
    font-size: 13px;
  }
}
@media screen and (max-width: 330px) {
  #footer .footer__copy {
    font-size: 11px;
  }
}
@media screen and (max-width: 270px) {
  #footer .footer__copy {
    font-size: 10px;
  }
}
@media screen and (max-width: 250px) {
  #footer .footer__copy {
    font-size: 8px;
  }
}
@media screen and (max-width: 250px) {
  #footer .footer__copy {
    font-size: 7px;
  }
}
@media screen and (max-width: 203px) {
  #footer .footer__copy {
    font-size: 6px;
  }
}
